
.top-container {
    background-color: #f0f8ff;
    padding-top: 200px;
}
.stars {
    position: absolute;
    right: 200px;
    top: 40px;
}
#font-name {
    font-family: 'Sacramento', cursive; 
    font-size: 5rem; 
}
.background {
    background-color: #f0f8ff;
}
.font-h2 {
    font-size: x-large;
}
.middle-container {
    background-color: white;
}
.full {
    text-decoration: underline;
}
.profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
hr {
    border: dotted 10px;
    color: orchid;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
}
.skills {
    display: grid;
    justify-content: center;
}
.btn{
    background: orchid;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    padding: 8px 20px 8px 20px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, orchid, darkorchid);
}
footer {
    background-color: dodgerblue;
}